h2 {
    display: block;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    font-family: Helvetica, Arial;
}

.grid {
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    width: auto;
}

.img-grid {
    padding: 10px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 10px;
    width: auto;
}

.img-grid img {
    margin: 4px;
    width: 200px;
    height: auto;
    background-color: #ffffff;
}

.grid ul {
    padding: 10px;
    font-size: 40px;
    margin: auto;
    width: auto;
    text-align: center;
    
}

.grid li {
    font-family:'Courier', Arial;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .grid {
        padding: 10px;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        width: auto;
    }

    .img-grid {
        padding: 10px;
        display: grid;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        column-gap: 10px;
        width: auto;
    }

    .img-grid img {
        margin: 4px;
        width: 200px;
        height: auto;
        background-color: #ffffff;
    }

    .grid ul {
        padding: 10px;
        font-size: 40px;
        margin: auto;
        width: auto;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: flex-start;
      }
      
      .img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        column-gap: 10px;
      }
      
      .img-grid img {
        margin: 4px;
        width: 200px;
        height: auto;
        background-color: #ffffff;
      }
      
      .grid ul {
        padding: 10px;
        font-size: 40px;
        text-align: center;
      }      
}
  