.game-cover {
    display: block;
    height: auto;
    width: 400px;
    margin: auto;
}

.playing-next-grid {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-pokemon {
    display: none;
}

.img-grid {
    display: block;
}

.switch-game-cover {
    margin: 5px;
    width: 400px;
    height: auto;
}

.playing-next {
    background-color: #9750aa9f;
}

@media screen and (min-width: 1024px) {
    .box-pokemon {
        display: block;
        height: auto;
        width: 400px;
        margin-right: auto;
    }
    .img-grid {
        display: flex;
    }
}